{% extends 'base.html' %} 
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
        {% if user.is_authenticated %}
          {% if post.author.id == user.id or user.is_superuser %}
            <a href="{% url 'update-post' post.pk %}">Edit</a>
            <a href="{% url 'delete-post' post.pk %}">Delete</a>
          {% endif %}  
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-primary">Back to posts list</a>
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ post.comments.all.count }} Comments</h2>

        {% for comment in post.comments.all %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
          <hr>
        </div>
        {% endfor %}
        <strong><p> To add a comment, please <a href="{% url 'login' %}">login.</a></p></strong>
        {% if user.is_authenticated %}
        <a href="{% url 'add-comment' post.pk %}" class="btn btn-primary">Add Comment</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
 
{% endblock content%}